:root {
    --colore-primario: #3498db;
    --colore-testo: #222222;
    --colore-sfondo: #f5f5f5;
    --colore-link: #e74c3c;
    --colore-bordo: #dddddd;
}

div {
    border: 1px solid var(--colore-bordo);
}